AllowAllParametersOfDeclarationOnNextLine:  true 
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine:  Empty
AllowShortIfStatementsOnASingleLine:  Never
AllowShortLoopsOnASingleLine:  false 
AlwaysBreakTemplateDeclarations:  Yes
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman
BreakConstructorInitializersBeforeComma:  true 
ConstructorInitializerAllOnOneLineOrOnePerLine:  true 
Cpp11BracedListStyle:  false 
DerivePointerAlignment:  false 
IndentCaseLabels:  true 
IndentWidth:  4 
KeepEmptyLinesAtTheStartOfBlocks:  false 
Language: Cpp
MaxEmptyLinesToKeep:  2 
NamespaceIndentation:  None 
ObjCSpaceAfterProperty:  true 
ObjCSpaceBeforeProtocolList:  false 
PointerAlignment: Left
SpaceBeforeAssignmentOperators:  true 
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses:  false 
SpacesBeforeTrailingComments:  1 
SpacesInAngles:  false 
SpacesInCStyleCastParentheses:  false 
SpacesInContainerLiterals:  false
SpacesInParentheses:  false 
Standard: c++11
TabWidth:  4 
ColumnLimit: 120
UseTab: Never
